<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="dog" class="com.firstproject.common.bean.Dog">
    <constructor-arg value="小白"/>
  </bean>
  <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
    <property name="host" value="smtp.jd.com"></property>
    <property name="port" value="25"/>
    <property name="protocol" value="smtp"/>
    <property name="username" value="activitymessage"></property>
    <property name="password" value="yingxiao123"></property>
    <property name="defaultEncoding" value="UTF-8"/>
    <!--<property name="javaMailProperties">-->
      <!--<props>-->
        <!--<prop key="mail.smtp.auth">true</prop>-->
        <!--<prop key="mail.smtp.timeout">25000</prop>-->
      <!--</props>-->
    <!--</property>-->
  </bean>
</beans>